<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="不鱼的小屋 - 用于记录生活的点滴">
	<meta name="keywords" content="生活 记录 不鱼 网页 动画 响应式 HTML5 CSS3 Bootstrap Javascript HTML">
	<meta name="author" content="不鱼">

	<!-- 网站icon -->
	<link rel="apple-touch-icon" sizes="180x180" href="../img/index/icon2.svg">
	<link rel="icon" type="image/png" href="../img/index/icon2.svg" sizes="16x16">

	<!-- 样式 -->
	<link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<!-- 引入本地样式，需要放至最后，否则将被覆盖 -->
	<link href="../css/home.css" rel="stylesheet">
	<title> 不鱼－ Record Time</title>
</head>
<body>
<header>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand gradient-text" href="/">
					<img src="../img/index/icon.svg">
					记录时光 - Record Time
				</a>
			</div>
			<div class="collapse navbar-collapse" id="collapse">
				<ul class="nav navbar-nav">
					<li><a href="../index.html">首页</a></li>
					<li><a href="#">实习经历</a></li>
					<li><a href="./MissPicture.html">作品集</a></li>
					<li><a href="./Time.html">成长时间</a></li>
					<li><a href="./About.html">关于我们</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>

<!-- 我的实习经历 -->
<section>
	<div class="container">
		<div class="title">
			<h2 class="text-center">我的实习经历</h2>
			<div class="gradient-bg title-border"></div>
		</div>
		<div class="row card-shadow">
			<div class="col-xs-12 col-md-6 service-item">
				<image
					src="../img/introduction/15.jpg"
					style="width: 100%; height: 340px;"/>
				<h3>实习经历一:搜狐畅游 运营实习⽣</h3>
				<div class="alert alert-success" role="alert">
					·⼈群分析：根据整理的2000余条客⼾数据，抽象产品⽤⼾画像，进⾏兴趣⼈群划分
					<br>·产品策划： 整理和研究元宇宙及各⾏业营销爆款案例， 提炼共性和差异，为产品场景和运营提供10+条有效参考创意。全程参与NFT产品“Lil Lazy”的创意策划和⻛格的选定， 根据整体⻛格，设置创意惊喜。发售当⽇NFT排⾏榜第⼀，并收到买家的50余条好评反馈
					<br>·产品增⻓： 主导和参与NFT产品从预热、发售到售后全流程的策划、排期，负责Twitter、 Discord、Telegram官⽅ 账号的架构、
					<br>·社群运营 KOL运营：与50+位外⽹KOL建⽴联系并推进合作，发布⾯向 Web3.0⽤⼾的英⽂⽂案80+条，收获互动量5k+。
				</div>
			</div>
			<div class="col-xs-12 col-md-6 service-item">
				<image
					src="../img/introduction/14.jpg"
					style="width: 100%; height: 340px;"/>
				<h3>实习经历二:字节跳动 运营实习⽣</h3>
				<div class="alert alert-info" role="alert">
					·物料设计：每周独⽴产出【巨量算数】官⽹和公众号发布数据图表和公众号创意海报10+
					<br>·新媒体运营：⽇常运营巨量算数微信公众号、内部bot推送和今⽇头条号，和分析师⼀同产出50+篇商业数据报告解读稿件和排版内容，累计阅读量1000w+
					<br>·私域运营：盘活巨量算数客⼾私域流量，沉淀5000+客⼾资源 报告撰写：根据巨量算数内部消费者⾏为数据，撰写3篇相关洞察报告，发布于【巨量算数】官⽹，获得10w+曝光
					<br>·节⽬摄制：跟进【算数学堂】节⽬拍摄，撰写⼝播稿件10篇；对⻬前期物料需求和后期剪辑需求；上线巨量算数官⽹和相关视频平台，在抖⾳、公众号等平台获得100w+曝光
				</div>
			</div>
		</div>

		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<tr>

					<th>我的收获</th>
				</tr>
				<tr>

					<td>学会了如何做好一个前端</td>
				</tr>
				<tr>

					<td>对boostrap框架有了更深的了解</td>
				</tr>
				<tr>

					<td>熟练使用vue框架</td>
				</tr>
				<tr>

					<td>React的快速上手</td>
				</tr>
				<tr>

					<td>对css样式的排版布局有了新的理解</td>
				</tr>
			</table>
		</div>
	</div>
</section>

<footer>
	<div class="container">
		<div class="col-sm-12 text-center">
			&copy; 2019-2023 不鱼 版权所有
			<!-- <a href="#" target="_blank" class="link">联系电话:1234567</a> -->
		</div>
	</div>
</footer>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</body>
</html>
